entrypoint = "main.py"
modules = ["nodejs-20", "python-3.11"]

[nix]
channel = "stable-24_05"

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["python3", "main.py"]
deploymentTarget = "cloudrun"

[workflows]

[[workflows.workflow]]
name = "Run server"
author = 41158153
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 main.py"

[[workflows.workflow]]
name = "AI Responder"
author = 41158153
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 responder_server.py"

[[workflows.workflow]]
name = "AI Email System"
author = 41158153
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "uvicorn main:app --host 0.0.0.0 --port 5000 --reload=False"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "uvicorn responder_server:app --host 0.0.0.0 --port 3001 --reload=False"

[[workflows.workflow]]
name = "Local Development"
author = 41158153
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 responder_server.py"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 main.py"

[[ports]]
localPort = 3001
externalPort = 3001

[[ports]]
localPort = 5000
externalPort = 5000
